name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with: 
          github_user_name: sanjay-6727
          outputs: |
            dist/snake.svg

      - uses: EndBug/add-and-commit@v9
        with:
          add: "dist"
          message: "Generate Snake"
